:root {
  --app-status: hsl(276, 100%, 81%);
  --app-bg: hsl(264, 26%, 96%);
  --app-submit-button: hsl(271, 36%, 24%);
  --app-radio-button: hsl(289, 100%, 72%);

  --bg-gradient-1: hsl(293, 100%, 63%);
  --bg-gradient-2: hsl(264, 100%, 61%);

  --text-placeholder: hsl(206, 6%, 79%);
  --text-heading: hsl(271, 36%, 24%);
  --text-paragraph: hsl(270, 7%, 64%);
  --text-chat-left: hsl(276, 55%, 52%);
  --text-chat-right: hsl(271, 15%, 43%);

  --secondary-white: hsl(0, 0%, 100%);
  --secondary-light: hsl(272, 41%, 93%);
  --secondary-gradient: hsla(264, 100%, 61%, .2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100vw;
  position: relative;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #fafafa;
}

.blob {
  position: fixed;
  width: 32rem;
  height: 54%;
  z-index: -1;
}

.blob-left {
  top: 0;
  left: 0;
  transform: translateX(-63%);
  background: linear-gradient(to bottom, var(--bg-gradient-1), var(--bg-gradient-2));
  border-radius: 0 0 100rem 100rem;
}

.blob-right {
  right: 0;
  bottom: 0;
  transform: translateX(63%);
  background: var(--app-bg);
  border-radius: 100rem 100rem 0 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86%;
  max-width: 52rem;
  margin: 0 auto;
  padding: 4rem 0;
  min-height: 100%;
  color: black;
}

.copy {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-heading);
  margin-bottom: 1.5rem;
}

.copy-text {
  line-height: 1.6875rem;
  color: var(--text-paragraph);
  padding-bottom: 4rem;
}

@media screen and (min-width: 767px) {
  .wrapper {
    flex-direction: row;
  }

  .copy {
    text-align: left;
    margin-left: 7.5rem;
  }

  .copy-text {
    padding-bottom: 0;
  }
}